Flask>=3.1,<4
Flask-Login
Flask-Session
flask-socketio>=5.3
flask_cors
itsdangerous>=2.1
Jinja2>=3.1
MarkupSafe
python-engineio>=4.8
python-socketio>=5.10
six
Werkzeug>=3.0
simple-websocket
gevent
gevent-websocket
requests
colorama
geoip2
